@import "../settings/Variables.scss";
@import "../settings/Fonts.scss";


.checkout_page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;


  .checkout_title {

    background-color: $earthy-color;
    color: white;
    width: 100%;
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $head-font;
    font-size: 2rem;
    //margin-left: 3rem;
    //margin-right: 3rem;
    font-weight: 700;
    margin: 0 3rem 0 3rem;
  }

  .bag_items {
    display: flex;
    flex-direction: column;

  }

  .total_checkout {
    margin-bottom: 2rem;

    .total_checkout_subtotal {
      font-family: $head-font;
      font-size: 1.6rem;
      padding: 1rem 0.2rem 1rem 0.2rem;

    }

    button {
      color: black;
      font-family: $head-font;
      padding: 0.2rem 0.5rem 0.2rem 0.5rem;
      font-weight: 600;
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
      margin: 0.3rem;

      &:hover {
        background-color: $bluish-accent-lighter;
      }
    }
  }
}

.bagItem {
  border-radius: 15px;
  width: 24rem;
  height: 8.75rem;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  background-color: $background-color-grey;

  img {
    //border-top-left-radius: 15px;
    ////border-top-right-radius: 15px;
    //border-bottom-left-radius: 15px;
    border-radius: 15px;
    width: 40%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .product_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //margin-left: 2.5rem;
    padding: 0.5rem;
    width: 60%;
    gap: 1rem;


    .checkout_product_title {
      font-family: $head-font;
      font-size: 1.4rem;
      //margin-bottom: 1rem;
      font-weight: 500;


    }

    .checkout_product_price {
      font-family: $head-font;
      font-size: 1rem;

    }

    .countHandler {
      display: flex;

      input {
        width: 3.5rem;
        font-size: 0.75rem;
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
        border: none;
        padding-left: 0.6rem;

        &:hover {
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
          transition: 0.3s ease-in;
          cursor: pointer;
        }
      }

      button {
        color: white;
        background-color: $bluish-accent-lighter;
        width: 1.2rem;
        border: none;
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);

        &:hover {
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
          transition: 0.3s ease-in;
          cursor: pointer;
        }


      }
    }

  }
}