@import "../settings/Variables.scss";
@import "../settings/Fonts.scss";


.gallery_page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 3rem;
  margin-left: 3rem;

  .gallery_title {
    background-color: $earthy-color;
    color: white;
    width: 100%;
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $head-font;
    margin-left: 3rem;
    margin-right: 3rem;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .gallery_content {
    overflow-wrap: anywhere;
    gap: 1rem;

    .gallery_el {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 15px;
      width: 30rem;
      height: 20rem;
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
      margin: 3rem 2rem 3rem ;

    }
  }
}
