@import "../settings/Variables.scss";
@import "../settings/Fonts.scss";


.shop_page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .shop_title {
    background-color: $earthy-color;
    color: white;
    width: 100%;
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $head-font;
    font-size: 2rem;
    //margin-left: 3rem;
    //margin-right: 3rem;
    font-weight: 700;
    margin: 0 3rem 0 3rem;

  }

  .products_list {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: 2rem;
    margin: 0 3rem 0 3rem;

  }

}

.shop_page {
  padding: 3rem;
}




.shopItem {
  border-radius: 15px;
  width: 240px;
  height: 290px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
  background-color: $bluish-accent;

    &:hover {
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
      transition: 0.3s ease-in;
      cursor: pointer;
    }

  .shopItem_img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .shopItem_title {
      font-family: $head-font;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
      font-weight: bold;
      //color: white;

  }

  .shopItem_price {
    font-family: $head-font;
    //color: white;


  }

  .addToCartBtn {
    //position: absolute;
    background-color: inherit;
    border: 2px solid white;
    color: white;
    //height: 4rem;
    //width: 8rem;
    //font-size: 1.1rem;
    font-family: $head-font;
    margin-top: 0.3rem;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    font-weight: 600;

    &:hover {
      background-color: $earthy-color;
    }
  }

}