
$logo-font: Bowlby One SC, cursive;
$head-font:  Assistant, sans-serif;

$background-color: #ffffff;
$background-color-grey: #f3f3f3;

$pink-contrast-color:  #bf1da9;
$main-color: black;
$greyish: #b6b2b2
