@use 'sass:color';
@import "header";
@import "carusell";
@import "banner";
@import "trending";
@import "discountForm";
@import "sustainableSection";
@import "footer";

html {
  //font-size: 14px;
  //font-family: $font-Open_Sans;
}

body {
  background-color: $white-background;
}

.container {
  width: $container-width;
  margin: 0 auto;
}
