@import "./styles/components/Footer.scss";
@import "./styles/components/ShopItem.scss";
@import "./styles/components/NavBar.scss";
@import "./styles/elements/About.scss";
@import "./styles/elements/Contact.scss";
@import "./styles/elements/Gallery.scss";
@import "./styles/elements/Home.scss";
@import "./styles/elements/Shop.scss";
@import "styles/settings/Reset.scss";
@import "styles/settings/Variables.scss";
@import "styles/settings/Fonts.scss";



.App {
  text-align: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}
